* {
  box-sizing: border-box;
}

body {
  color: #24292e;
}

a {
  color: #0366d6;
  box-shadow: 0 1px 0 0 #0366d6;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 672px;
  }
}
