* {
  box-sizing: border-box;
}

body {
  color: #c9d1d9;
  background-color: #212529;
}

a {
  color: #0d6efd;
  box-shadow: 0 1px 0 0 #0d6efd;
  text-decoration: none;
}

a:hover {
  color: #0a58ca;
  box-shadow: 0 1px 0 0 #0a58ca;
}

.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 672px;
  }
}
